<b><a href="links.php?wt_owner=%wt_owner%">Links Home</a> : Confirm Delete Category</b><p>
Are you sure you would like to delete category %catid%?<p>
<form action=links.php method=post>
<input type=hidden name=id value="%catid%">
<input type=hidden name=action value=delcat>
<input type=hidden name=wt_owner value=%wt_owner%>
<input type=submit name=submit value="Delete Category"><p>