<b><a href="links.php?wt_owner=%wt_owner%">Links Home</a> : Link Validated</b><p>
An e-mail has been sent to %email% informing them that their link has been validated.<p>
<a href="links.php?action=validated&wt_owner=%wt_owner%">Back to Validation List</a><p>