<b><a href="links.php?wt_owner=%wt_owner%">Links Home</a> : Recommend a Link : Thank You</b><p>
Your link is now awaiting validation by a member of staff.<p>
<a href="links.php?wt_owner=%wt_owner%">Back to Links Index</a><p>