<b><a href="links.php?wt_owner=%wt_owner%">Links Home</a> : Search Links</b><p>
<form action=links.php method=get>
<input type=text size=20 name=search><p>
<input type=hidden name=wt_owner value=%wt_owner%>
<input type=submit value=Search></form><p>