/*###############################################################################################                      
#                                                                                                                      
#  Project           : phpBook                                                                                         
#  File name         : style.css                                                                                  
#  Last Modified By  : Erich Fuchs                                                                                     
#  e-mail            : erich.fuchs@netone.at                                                                           
#  Purpose           : Define the optical Style                                                                            
#                                                                                                                      
###############################################################################################*/



body 			{ 
			  font-family:Verdana,Arial,sans-serif;
			  font-size:10pt;
    			}

a:link 			{ font-family:Verdana,Arial,sans-serif; color:#222222; font-weight:bold; text-decoration:underline; }                           

a:visited 		{ font-family:Verdana,Arial,sans-serif; color:#444444; font-weight:bold; text-decoration:underline; }                        

a:active 		{ font-family:Verdana,Arial,sans-serif; color:#FF9900; font-weight:bold; text-decoration:underline; }                         

a:hover 		{ font-family:Verdana,Arial,sans-serif; color:#FF9900; font-weight:bold; text-decoration:underline; }                               

div.mainheader 		{ font-family:Verdana,Arial,sans-serif; font-size:12pt; color:#000080; text-align:left; font-weight:bold; }                                              

div.maintext 		{ font-family:Verdana,Arial,sans-serif; font-size:10pt; text-align:justify; }                                                             

div.mainleft 		{ font-family:Verdana,Arial,sans-serif; font-size:10pt; text-align:left; }                                                                

div.mainmenu 		{ font-family:Verdana,Arial,sans-serif; font-size:8pt; text-align:right; }                                                                 

div.mainpages 		{ font-family:Verdana,Arial,sans-serif; font-size:7pt; text-align:right; margin-right:0px; }                                             

div.maincatnav 		{ font-family:Verdana,Arial,sans-serif; font-size:7pt; text-align:left; margin-left:0px; }                                              

div.mainname 		{ font-family:Verdana,Arial,sans-serif; font-size:10pt; color:#000080; text-align:left; }                                                                

div.maininputleft 	{ font-family:Verdana,Arial,sans-serif; font-size:10pt; text-align:left; }                                                                

div.comment 		{ font-family:Verdana,Arial,sans-serif; font-size:10pt; background: #E8E8E8; text-align:left; margin-left:5mm; }                                      

div.xsmallleft 		{ font-family:Verdana,Arial,sans-serif; font-size:7pt; text-align:left; }                                             

div.smallleft 		{ font-family:Verdana,Arial,sans-serif; font-size:8pt; text-align:left; }                                                                

div.spaceleft 		{ font-family:Verdana,Arial,sans-serif; font-size:4pt; text-align:left; }                                                                

div.footer 		{ font-family:Verdana,Arial,sans-serif; font-size:8pt; text-align:center; }

span.censored 		{ font-family:Verdana,Arial,sans-serif; font-size:10pt; color:#FF0000; text-align:left; }                                                                

td.class1 		{ background: #999999; border:0px; }                                                             

td.class2 		{ background: #DDDDDD; border:0px; text-align:justify; vertical-align:top; }                     

td.gbheader 		{ background-color: #C9C9C9; border:0px; font-size:10pt; font-weight:bold; text-align:center;}

td.gbtable1 		{ background-color: #C0C0C0; border:0px; vertical-align:top; width:20%; }                           

td.gbtable2 		{ background-color: #CCCCCC; border:0px; vertical-align:top; }                                      


